<%- include('../partials/adminHeader') -%>

<div class="content">
    <h2 class="heading">User Management</h2>

  <div class="card shadow-sm p-4">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <strong>Users List</strong>

      <!-- Include Search, Sort, and Status Filter Partial -->
      <%- include('../partials/_searchAndSort', {
            search: search,
            sort: sort,
            filters: [
              {
                id: 'statusFilter',
                label: 'Status',
                selected: filters.status,
                options: [
                  { label: 'Active', value: 'Active' },
                  { label: 'Blocked', value: 'Blocked' }
                ]
              }
            ],
            sortOptions: [
              { label: 'Newest', value: '-createdAt' },
              { label: 'Oldest', value: 'createdAt' },
              { label: 'Name (A-Z)', value: 'firstName' },
              { label: 'Name (Z-A)', value: '-firstName' }
            ],
            entityName: 'users'
      }) %>
    </div>


    <div id="usersDataSection">
      <table class="table text-center">
         <thead>
           <tr>
             <th scope="col" class="text-start">Name</th>
             <th scope="col">Email</th>
             <th scope="col">Status</th>
             <th scope="col">Action</th>
           </tr>
         </thead>
         <tbody>
           <% if (users.length > 0) { %>
             <% users.forEach((user) => { %>
               <tr class="align-middle">
                 <td class="text-start"><%= user.firstName %> <%= user.lastName %></td>
                 <td><%= user.email %></td>
                 <td><%= user.status %></td>
                 <td>
                   <form id="status-form-<%= user._id %>" action="/admin/users/<%= user._id %>/status" method="POST">
                     <button type="submit" class="btn btn-outline-dark">
                       <%= user.status === 'Active' ? 'Block' : 'Unblock' %>
                     </button>
                   </form>
                 </td>
               </tr>
             <% }) %>
           <% } else { %>
             <tr>
               <td colspan="5">No users found</td>
             </tr>
           <% } %>
         </tbody>
       </table>
       
       <%- users.length > 0 ? include('../partials/_pagination', { pagination }): '' %>
      </div>
  </div>
</div>

<%- include('../partials/adminFooter') -%>


